example:
  property: I AM THE DEFAULT

spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: sa
    password:
  h2:
    console:
      enabled: true
  main:
    allow-bean-definition-overriding: true
    allow-circular-references: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
    enabled-by-default: true